@import "tailwindcss";

/* Variables Personalizadas */
:root {
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
  --altBlue: #00473E;
  --darkGray: #475D5B;
  --Emerald: #4CDA95;
  --darkBlue: #043D74;
  --Orange: #F97316;
  --Gray: #D9D9D9;
}

@theme inline {
  --color-altBlue: var(--darkBlue);
  --color-darkGray: var(--darkGray);
  --color-Emerald: var(--Emerald);
  --color-darkBlue: var(--darkBlue);
  --color-Orange: var(--Orange);
  --color-Gray: var(--Gray);
  --color-Blue: var(--color-blue-950);
  --color-altGray: var(--color-slate-300);
  --color-Gray2: var(--color-gray-50);
}

/* Estilos Generales */
body {
  margin: 0;
  font-family: var(--font-geist-sans);
  background-color: #f8f9fa;
  color: #212529;
}

/* Estilos de la barra lateral*/